[Unit]
Description=GoTube Service
After=network.target

[Service]
Type=forking
User=root
Group=root
WorkingDirectory=/opt/gotube
ExecStart=/opt/gotube/gotube.sh start
ExecStop=/opt/gotube/gotube.sh stop
ExecReload=/opt/gotube/gotube.sh restart
PIDFile=/opt/gotube/.server.pid
Restart=on-failure
RestartSec=5
TimeoutStartSec=120
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
